
bin/AndroidManifest.xml

bin/AndroidManifest.xml.d

bin/MicApp-debug-unaligned.apk

bin/MicApp-debug-unaligned.apk.d

bin/MicApp-debug.apk

bin/MicApp.ap_

bin/MicApp.ap_.d

bin/build.prop

bin/classes.dex

bin/classes.dex.d

*.class

bin/dexedLibs/annotations-be14c8e09b7870e7fa6a18c5b45637c9.jar

bin/jarlist.cache

bin/proguard.txt

gen/R.java.d

gen/jp/saka/micapp/BuildConfig.java

gen/jp/saka/micapp/R.java

.*.swp

*.*~

*.class

bin/*

gen/*
